<!-- <style>

</style> -->

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello,</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <select (change)="zoomToGraveyard($event)">
        <option value="">Select a graveyard</option>
        <option *ngFor="let graveyard of graveyards" [value]="graveyard">
          {{ graveyard }}
        </option>
      </select>
    </div>
    <div class="right-side">
      <div id="map" class="map"></div>
    </div>
  </div>
</main>
